@font-face {
  font-family: "Typo";
  src: url(Typo.otf);
}

* {
  padding: 0px;
  margin: 0px;

  font-family: Typo;
}

body {
  background-image: linear-gradient(to bottom, black, rgb(66, 66, 66));
}

.bg {
  background: rgb(253, 253, 253);
  padding: 20px 20px 50px 20px;

  margin: auto;

  margin-top: 2.3%;
  margin-bottom: 2.3%;

  width: 60%;

  border: solid rgb(0, 0, 0) 1.5px;
}

.teamentriesbg {
  background: white;
}

.matchdetails {
  padding: 20px 0px 20px 0px;
  margin-bottom: 20px;
}

.heading {
  background-color: rgb(0, 0, 0);

  padding: 5px 5px 5px 5px;

  color: white;
}

.heading.matchdet {
  margin: auto;

  margin-left: 0px;
}

.slct {
  margin-left: 10px;
  padding: 5px 5px 5px 8px;
}

.opt {
  padding: 10px;

  font-family: Typo;
}

.content {
  padding: 10px 20px 20px 50px;

  border: solid black 2px;
}

.inputname.overs {
  width: 4%;
  text-align: center;
  padding: 5px 5px 5px 5px;

  font-size: 15px;

  margin-left: 25px;
}

.inputname.wickets {
  width: 4%;
  padding: 5px;

  text-align: center;
}

.checks {
  border: solid black 2px;
  padding: 5px;
}
.fill {
  padding: 20px;
  background-color: white;
  margin: auto;

  border: solid black 1px;
  border-top: none;
  width: 90%;
}

.name {
  align-items: center;
}

.inputname {
  margin-left: 10px;
  width: 85%;

  padding: 5px 2px 5px 10px;

  border: solid black 2px;

  margin-top: 10px;

  text-align: left;
}

.inputname:focus {
  outline: none;

  border: solid blue 2px;
}

.sizebutton {
  padding: 6px;

  border: solid black 1px;

  background: white;

  cursor: pointer;
}

.sizebutton:hover {
  padding: 6px;

  border: solid black 1px;

  background: rgb(0, 0, 0);

  color: white;

  cursor: pointer;
}

.team {
  margin-top: 10px;

  padding: 20px;
}

.teamlist {
  list-style-type: none;
}

.playerlabel {
  padding: 15px;
  padding-left: 10px;
  padding-right: 1px;

  float: left;

  text-align: left;

  width: 14%;
}

.playernumber {
  padding: 10px;
  font-size: 14px;
}

.playerinput {
  padding: 10px;
  width: 78%;
  float: left;
}

.inputname.player {
  margin-top: 0px;
  margin-bottom: 0px;

  padding: 5px 5px 5px 10px;

  width: 96%;
}

.removeplayer {
  padding: 10px;
}

.sizebutton:hover.remove {
  background: red;
  border: solid red 1px;
}

.heading.teamtwo {
  margin-top: 40px;
}

.livebg {
  padding: 1px;
  margin: auto;

  width: 94.7%;

  margin-top: 8px;

  align-items: center;
}

.livebtn {
  border: solid red 2px;

  background: rgb(255, 255, 255);

  padding: 10px;

  color: rgb(0, 0, 0);

  margin: auto;

  width: 100%;
}

.livebtn:hover {
  border: solid red 2px;

  cursor: pointer;

  background: red;

  padding: 10px;

  color: rgb(0, 0, 0);

  margin: auto;

  width: 100%;
}
